.row
  .col-sm-6
    .well
      .well-header
        .well-header-title
          = t("contact.text.message.title")
      .well-content
        = form_for(@contact, :html => {:class => 'form-horizontal'}) do |f|
          %fieldset
            .form-group
              .col-md-2
                = f.label :email, t("contact.input.label.email"), :class=>"control-label"
              .col-md-10
                = f.email_field :email, :class=>"form-control", :placeholder=>t("contact.input.placeholder.email"), required: true, :value => ""
            .form-group
              .col-md-2
                = f.label :object, t("contact.input.label.object"), :class=>"control-label"
              .col-md-10
                = f.text_field :object, :class=>"form-control", :placeholder=>t("contact.input.placeholder.object"), required: true, :value => ""
            .form-group
              .col-md-2
                = f.label :message, t("contact.input.label.message"), :class=>"control-label"
              .col-md-10
                = f.text_area :message, :class=>"form-control", :placeholder=>t("contact.input.placeholder.message"), :rows=>"6", required: true, :value => ""
            .form-group
              .col-md-10.col-md-offset-2
                = f.submit t("contact.button.submit"), :class=> "btn btn-primary", id: 'button-submit'
        %div
          - flash.each do |key, value|
            - if key == "danger"            
              .alert.alert-dismissable.alert-danger
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                = value
            - if key == "success"
              .alert.alert-dismissable.alert-success
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                = value
  .col-sm-6
    .well
      .well-header
        .well-header-title
          = t("contact.text.social.title")
      .well-content
        .social-media-bottom
          = link_to("https://www.facebook.com/piitaya", class: "btn btn-material-indigo-500 btn-fab btn-image") do
            = image_tag("fbk-icon.png", size: "26x26")
        .social-media-top
          = link_to("https://twitter.com/piitaya", class: "btn btn-material-light-blue-300 btn-fab btn-image") do
            = image_tag("twr-icon.png", size: "26x26")
        .social-media-bottom
          = link_to("https://plus.google.com/u/0/+paulbottein", class: "btn btn-material-red-600 btn-fab btn-image") do
            = image_tag("ggp-icon.png", size: "26x26")
        .social-media-top
          = link_to("https://github.com/piitaya", class: "btn btn-black btn-fab btn-image") do
            = image_tag("ghb-icon.png", size: "26x26")
        .social-media-bottom
          = link_to("https://fr.linkedin.com/in/paulbottein", class: "btn btn-material-blue-700 btn-fab btn-image") do
            = image_tag("lkn-icon.png", size: "26x26")
      .well-content
        = t("contact.text.social.content")
            
:javascript
  $( "#new_contact" ).submit(function( event ) {
    $('#button-submit').addClass("loading");
    $('#button-submit').attr('value', t("contact.button.loading"));
  });